/* seccion header*/
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo{
    width: auto;
    height: 5rem;
}

.barra-navegacion{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secundario);
    padding: 2.5rem;
}

.links{
    background-color: var(--color-secundario);
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: absolute;
    padding: 40px;
    width: 70%;
    height: 100vh;
    top: 0;
    right: 0;
    text-align: center;
    transform: translateX(100%);
    transition: transform .3s ease;
    z-index: 100;
    display: flex;
    list-style: none;
    font-size: 1.8rem;
}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #0009;
    top: 0;
    right: 0;
    z-index: 10;
    transition: all .3s;
}

.visible{
    transform: translateX(0);
}

.menu{
    display: block;
    position: relative;
    z-index: 1000;
    padding: 0.8rem 1rem;
    background-color: transparent;
    color: var(--color-principal);
    border: 0.1rem solid var(--color-principal);
    border-radius: 0.4rem;
}

.fa-bars{
    font-size: 18px;
}

.link{
    color: var(--color-negro);
    transition: color .3s ease;
}

.link:hover{
    color: var(--color-principal);
}

.link::after{
    content: '';
    display: block;
    height: 0.3rem;
    width: 0;
    background-color: var(--color-principal);
    margin-top: 0.3rem;
    border-radius: 1rem;
    transition: width .3s ease;
}

.link:hover::after{
    width: 100%;
}
