/* seccion inicio*/
.inicio{
    width: 100%;
    margin-top: 7rem;
    padding: 4rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    background-color: var(--color-terciario);
}

.inicio-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.social-media{
    display: flex;
    gap: 2rem;
}

.link-social-media{
    height: 4rem;
    width: 4rem;
    border: 0.1rem solid var(--color-negro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color-secundario);
    transition: opacity .3s ease, transform .3s ease;
}

.link-social-media:hover{
    opacity: 0.9;
    transform: translateY(-1rem);
}

.fa-brands{
    font-size: 22px;
    color: var(--color-principal);
}

.link-social-media:nth-child(1){
    background-color: #1877f2;
}

.link-social-media:nth-child(2){
  background-image: linear-gradient(
    45deg,
    #833AB4,
    #C13584,
    #E1306C,
    #FD1D1D,
    #FCAF45
  );
}

.link-social-media:nth-child(3){
    background-color: #181717;
}

.btn-contact{
    display: inline-block;
    width: fit-content;
    padding: 1rem 2rem;
    border: 0.2rem solid var(--color-negro);
    background-color: transparent;
    transition: background-color .3s ease ;
    border-radius: 12rem;
}

.btn-contact a{
    color: var(--color-negro);
    font-size: 1.5rem;
}

.btn-contact:hover{
    background-color: #556B2F;
    box-shadow: 0 0 0.5rem var(--color-negro);
}

.btn-contact:hover a{
    color: var(--color-principal);
}

.inicio-img{
   height: 25rem;
   width: 25rem; 
}

.inicio-img img{
    height: 100%;
    width: auto;
    border-radius: 50%;
    outline: 0.3rem solid var(--color-secundario);
}
