/* footer seccion*/
 footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-negro);
    color: var(--color-principal);
    padding: 2rem;
    text-align: center;
}
   

