/*seccion proyectos*/
/* proyecto section */
.proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}

.container-proyect{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 3rem;
    flex-direction: column;
}

.proyecto{
    padding: 4rem;
    background-color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1.2rem;
}

.img-project{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center;
}

.btn-proyecto{
    width: fit-content;
    padding: 1rem 4rem;
    background-color: transparent;
    border-radius: 12rem;
    cursor: pointer;
    transition: background-color .3s ease;
    margin-top: auto;
}

.btn-proyecto:hover{
    background-color: var(--color-secundario);
}

.btn-proyecto a{
    color: var(--color-negro);
    font-size: 1.7rem;
}

.btn-proyecto:hover a{
    color: var(--color-principal);
}

