/* Trayectoria*/
.line-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-lime-time{
    display: flex;
    gap: 3rem;
}

.linea{
    width: 0.4rem;
    background-color: var(--color-negro);
    border-radius: 1.2rem;
}

.linea-tiempo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.item-line-time{
    background-color: var(--color-terciario);
    padding: 4rem;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

time{
    background-color: var(--color-secundario);
    padding: 0.8rem;
    border-radius: 0.8rem;
    color: var(--color-principal);
    font-size: 1.5rem;
}

